* {
    background-color: beige;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

section{
    height: 100vh;
}

section#datos{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 300px;
}

section#datos img{
    width: 10%;
}

section#datos h2{
    font-size: 2rem;
    text-align: center;
}

/*h2{
    font-size: 2rem;
    text-align: center;
}
*/
    .listadatos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }

 .listadetalle{
    width: 200px;
    margin: 20px;

 }